<h1>Reactive Form</h1>

<hr>

<form autocomplete="off" [formGroup]="forma" (submit)="saveForm()">

    <div class="container">

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Escribe tu nombre" formControlName="name"
                    [ngClass]="{'is-valid': nameValid}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Escribe tu apellido" formControlName="lastname">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Email</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Escribe tu email" formControlName="email">
            </div>
        </div>

        <div class="form-group row">
            <button class="btn btn-block btn-primary" type="submit">Enviar</button>
        </div>


        <table  formArrayName="hobbies">

            <thead class="table">
                
                <tr>
                <th>ID</th>
                <th>Hobbie</th>
                <th>Acción</th>
            </tr>
            </thead>

            <tbody>
                <tr  *ngFor="let hobbie of getHobbies.controls; index as i">
                    <th>{{i+1}}</th>
                    <th><input type="text"
                         class="form-control"
                         [formControlName]="i"
                         ></th>
                    <th><button (click)="delHobbie(i)" class="btn btn-danger" type="button">Del</button></th>
                </tr>

            </tbody>
        </table>
        <button (click)="addHobbie()" class="btn btn-primary" type="button">ADD</button>



    </div>
</form>