<h1>Reactive Form</h1>

<hr>

<form autocomplete="off"  >

   <div class="container">

    <div class="form-group row">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">
            <input class="form-control" type="text" name="" placeholder="Escribe tu nombre" id="">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col-8">
            <input class="form-control" type="text" name="" placeholder="Escribe tu apellido" id="">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Email</label>
        <div class="col-8">
            <input class="form-control" type="text" name="" placeholder="Escribe tu email" id="">
        </div>
    </div>

    <div class="form-group row">
        <button class="btn btn-block btn-primary" type="submit">Enviar</button>
    </div>

</div>
</form>