<h1>Angular Pipes</h1>

<div class="row">
    <div class="col">

        <table class="table">
            <thead>
                <tr class="thead-dark">
                    <th>Valor de la variable</th>
                    <th>Pipe</th>
                    <th>Out</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{name}}</th>
                    <th>capitalize</th>
                    <th>{{name | capitalize:true}}</th>
                </tr>
            </tbody>
        </table>


    </div>

</div>

<div>

    <iframe width="560" height="315" [src]="url | securDom" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
     allowfullscreen></iframe>
</div>